@import url("https://fonts.googleapis.com/css?family=Roboto-Flex");
@import url("https://fonts.googleapis.com/css?family=Belanosima");

body{
    font-family:"Roboto-Flex", sans-serif;
    margin:0px;
    overflow-x:hidden;
    height:100%;
}

header span{
    
    font-size: 32px;
    display:flex;
    align-items:center;
    justify-content:center;
    
    font-family: "Belanosima", sans-serif;
}


header{
    width:100%;
    padding:8px 16px;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid gray;
}

ul{
    padding:0;
    list-style:none;
    display:flex;
    justify-content:space-between;
    gap:64px;
}

.main ul{
    gap:112px;
}

.navigator{
    padding:0px 64px;
    margin-bottom : -64px;
}


.title{
    width:100px;
    height:180px;
    padding:8px;
    padding-top:0px;
    padding-left:0px;
    font-family: "Belanosima", sans-serif;
    font-weight:900;
    display:flex;
    flex-direction: column;
    justify-content:top;
    gap:90px;  
    font-size:94px;
    font-weight:900;
}


.title-text {
    position: relative;
    width: 200px;   
}

.title-text::before, .title-text::after {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    content: attr(data-text);
    margin:0px;
    padding-left:8px;  
    padding-right:2px;
    max-width:200px; 
    padding-bottom:5px;   
}

.title-text::before{
    background-color: white;
    width: 100%;
    color: yellowgreen;  
}

.title-text::after{
    width:77%;
    color:black;
    background-color: yellowgreen;
}

.book-list{
    width: 131px;
    font-size:16px; 
    font-family: "Belanosima", sans-serif;
    font-weight:normal;   
}


.book-list:hover{
    box-shadow: 2px 2px 5px 0px yellowgreen;
}

.book-list span{
    display: inline-block;
    max-width:100px;
    margin:8px;
}

.book{
    width:131px;
    height:200px;
    background-color:rgb(219, 219, 219);
}

.list{
    text-align:center;
}

.list a {
    display:inline-block;
    margin: 5px 0px;
}

.side-navigator{
    display: flex;
    flex-direction:column;
    justify-content:initial;
    gap: 16px;

}


.main ul {
    padding-right:32px;
    margin: 64px 0px;
}



a{
    text-decoration:none;
    color:black;
}



footer{
    margin-top:128px;
    width: 100%;
    padding:8px 16px;
    background-color: rgb(42 147 114);
    color: black;
    text-align:center;
    position:relative;
    bottom:0;
}


button{
    width:100%;
    border-width: 0px; 
    background-color:rgb(154, 205, 50);
    color:black;
    font-size: 32px;
    font-weight:900;
    text-align:center;
}

.content{
    display:flex;
    flex-direction:row;
    gap: 80px;
    padding-top: 64px;
}

.all-books{
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content: left;
    gap:64px;
}

.underline span{
    text-decoration: underline;
}

button{
    background-color:black ;
    color: white;
    font-family: "Belanosima", sans-serif;
    font-weight:500;
    font-size: 16px;
    text-align: center;
    border-color:black;
    border-width: 2px;
    border-style:double;
    border-left: 0px;
    margin-top: -16px; 
    display: block;
    box-shadow: 2px 3px 10px 0px #1B6037;

}

button:hover{
    background-color: #1B6037;
    border-color:#1B6037;
    box-shadow: 2px 5px 10px 0px rgb(154, 205, 50); 
}

