@import url("https://fonts.googleapis.com/css?family=Roboto-Flex");
@import url("https://fonts.googleapis.com/css?family=Belanosima");

body{
    font-family:"Roboto-Flex", sans-serif;
    margin:0;
    overflow-x:hidden;
    
}

span{
    font-size: 32px;
    display:flex;
    align-items:center;
    justify-content:center;
    
    font-family: "Belanosima", sans-serif;
}


.header{
    width:100%;
    padding:8px 16px;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid gray;
}

ul{
    padding:0;
    list-style:none;
    display:flex;
    justify-content:space-between;
    gap:64px;
}

.navigator{
    padding:0px 64px;
}

.title{
    width:100px;
    height:180px;
    padding:8px;
    font-size:32px; 
    font-family: "Belanosima", sans-serif;
    font-weight:900;
}

.book{
    width:131px;
    height:200px;
    background-color:rgb(219, 219, 219);
    margin-bottom:8px; 
}

.list{
    text-align:center;
}

#shelf{
    
    background-color:#2D90A5;
}

ul .title a {
    font-family: "Belanosima", sans-serif;
    font-size:96px;
    font-weight:900;
    
}

.main ul {
    padding-right:64px;
    margin: 64px 0px;
}

#reccs{
    background-color:#FC93C5;
    
}



#read{
    background-color:#60CE8C;
    
}

a{
    text-decoration:none;
    color:black;
}



.footer{
    width: 100%;
    padding:8px 16px;
    background-color:rgb(219, 219, 219);
    color:rgb(43, 42, 42);
    text-align:center;
}